---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import Navigation from '../components/Navigation.astro';
import EducationSection from '../components/EducationSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import OutreachSection from '../components/OutreachSection.astro';
import TechnologiesSection from '../components/TechnologiesSection.astro';
import ContactSection from '../components/ContactSection.astro';

// Actualizar la información para que refleje a Alejandro Mozo
---

<Layout title="Portfolio Personal - Alejandro Mozo">
  <Navigation />
  <div class="space-y-16 md:space-y-24">
    <HeroSection />
    <EducationSection />
    <ExperienceSection />
    <ProjectsSection />
    <OutreachSection />
    <TechnologiesSection />
    <ContactSection />
  </div>
</Layout>